<div class="p-d-flex p-jc-center p-ai-center form-container">
    <ng-container *ngIf="progress">
        <div class="spinner">
            <div class="spinner-bg"></div>
            <p-progressSpinner strokeWidth="4"></p-progressSpinner>
        </div>
    </ng-container>
    <div class="login-form p-shadow-4">
        <p-card>
            <div class="p-d-flex p-jc-center p-ai-center p-flex-column">
                <h4>Добро пожаловать к огоньку!</h4>
                <img src="assets/login.jpg" class="login-img">
                <h4>Авторизируйтесь через google</h4>
                <div id="singin-button"></div>
            </div>
        </p-card>
    </div>
</div>

